$lineChart-container: '#chart';

#{$lineChart-container} {
  font-family: helvetica;
  h3 {
    text-align: center;
  }
  width: 100%;
  max-width:600px;
  height: 400px;
  @media screen and (max-width: 450px) {
      height:250px;
  }
  path {
    fill: none;
    stroke: #4e79c4;
    stroke-width: 3px;
  }
  .axis {
    path {
      display: none;
    }
    text {
      font-size: 13px;
      fill: grey;
    }
    &.x line {
      display: none;
    }
    &.y {
      text {
        text-anchor:end;
        transform:translate(0px,-10px);
      }
      line {
        stroke: lightgrey;
        stroke-dasharray: 3px 3px;
      }
    }
  }
}
