$lineChart-container: '#chart';

#{$lineChart-container} {
  width: 100%;
  max-width:600px;
  height: 400px;
  @media screen and (max-width: 450px) {
      height:250px;
  }
  path {
    fill: none;
    stroke: #000;
  }
}
